# =========================
# Environment Mode
# =========================
ENV=production

# =========================
# Database Configuration (PostgreSQL)
# =========================
POSTGRES_USER=raray
POSTGRES_PASSWORD=ca66b066787710c9ecb21bf4777ce2d6
POSTGRES_DB=rarayvision

# Dokploy internal PostgreSQL connection string:
DATABASE_URL=postgresql+psycopg2://raray:ca66b066787710c9ecb21bf4777ce2d6@db:5432/rarayvision

# =========================
# JWT Authentication
# =========================
SECRET_KEY=af8ab971bf9210d90d5b615f4e5359594707750d582e8d824a973e329726ee42
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# =========================
# CORS
# =========================
# Comma-separated list of allowed origins
ALLOWED_ORIGINS=https://vision.chitraparatama.com

# =========================
# Upload Storage (S3 Cloudhost)
# =========================
UPLOAD_DRIVER=s3
OBJECT_STORAGE_ENDPOINT=https://is3.cloudhost.id
OBJECT_STORAGE_BUCKET=onechitra
OBJECT_STORAGE_PREFIX=upload
OBJECT_STORAGE_REGION=us-east-1
OBJECT_STORAGE_FORCE_PATH_STYLE=true
OBJECT_STORAGE_ACCESS_KEY_ID=your_access_key
OBJECT_STORAGE_SECRET_ACCESS_KEY=your_secret_key



